@import url(reset.css);


/* --------------------------- main --------------------------- */

.aboutUs{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

/* ---- swiper --- */
.swiper{
    max-width: 70%;
    margin-top: 40px;
    padding: 30px;
    background-color: #FAF0E4;
}
.swiper-slide{
    position: relative;
}

.sliderImg {
    width: calc(600px * (16/9));
    height: 600px;
    object-fit: cover; 
}

.swiper-slide h4{
    position: absolute;
    right: 10px;
    bottom: 20px;
    font: 18px;
    background-color: #FAF0E4;
    padding: 10px 20px;
    color: #B88571;
}

/* ------------ background ----------- */
.circleBg01{
    background-color: rgba(250, 240, 228, .5);
    width: 250px;
    height: 250px;
    border-radius: 125px;
    position: absolute;
    left: -30px;
    top: 790px;
    z-index: -1;
}

.circleBg02{
    background-color: rgba(250, 240, 228, .5);
    width: 400px;
    height: 400px;
    border-radius: 200px;
    position: absolute;
    right: -220px;
    top: 660px;
 
}

.circleBg03{
    background-color: rgba(250, 240, 228, .5);
    width: 360px;
    height: 360px;
    border-radius: 180px;
    position: absolute;
    bottom: -480px;
    right: 700px;
    z-index: -1;
}
/* --------------------------- info --------------------------- */
.shortInfo{
    margin: 20px auto 20px 190px;
    padding: 20px 0;
    line-height: 2;
    color: #AA8B66;
    font-size: 18px;
    order: 0;
}

/* ------------ storeInfo ----------- */

.floristTitle{
    border-bottom: 1px solid #AA8B66;
    width: 75%;
    margin: 40px auto 40px 180px;
    
}
h2{
    text-align: left;
    color: #AA8B66;
    font-size: 28px;
    margin-bottom: 10px;
}

h2::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/flowericon.png);
    margin-right: 10px;
}

/* ------------ about florist ----------- */
.florist{
    width: 75%;
    display: flex;
    align-items: flex-start;
    padding-left: 190px;
    line-height: 1.6;
}

.photo img{
    width: 324px;
    height: 406px;
    border-radius: 200px;
    position: relative;
    z-index: 2;
}

.floristExp{
    border: 2px solid #f1d4b7;
    border-radius: 20px;
    padding: 50px 0 50px 90px;
    color: #AA8B66;
    flex-grow: 1;
    margin: 60px 20px 0 -60px;
    line-height: 1.8;
    position: relative;
    z-index: 1;
}

.floristExp h1{
    font-size: 30px; 
}

.floristExp p{
    font-size: 16px;
}

.floristExp p:nth-child(3){
    margin-bottom: 20px;
}

.search{
    
    margin-top: 40px;
}

.search h3{
    padding-left: 190px;
    font-size: 20px;
    margin-bottom: 40px;
    color:#AA8B66;
    position: relative;
    z-index: 2;
}

.exploreFlowersButton{
    width: 366px;
    margin: 0 auto;
    text-align: center;
}

.exploreFlowersButton a{
    display: block;
    background-color: #AA8B66;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}

.exploreFlowersButton a:hover{
    opacity: 1;
    background-color: #f1d4b7 ;
    color: #AA8B66;
    font-weight: bold;
}
/* --------------------------- location --------------------------- */
.location{
    padding: 0 190px;
    margin: 0 auto 20px auto;
}

.storeTitle{
    border-bottom: 1px solid #AA8B66;
    margin: 40px 0;
}

.address{
    display: flex;
    align-items: center;
}

.address p{
    font-size: 16px;
    line-height: 1.5;
    color: #AA8B66;
    margin: 0 auto;
}
