@import url(reset.css);


/* -----------------------------main----------------------------- */


.blockNav{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* ------------------- breadcrumbNav ------------------- */

.breadcrumbNav{
    background-color: #FAF0E4;
    text-align: right;
    padding: 5px 20px;
    margin-bottom: 40px;
    color: #AA8B66;
}

.breadcrumbLink{
    color: #AA8B66;
}

/* ------------------- searchSection ------------------- */

.searchSection{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.searchLabel{
    color: #AA8B66;
    font-size: 30px;
}

.searchLabel::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/flowericon.png);
    background-size: cover;
    margin-right: 10px;
}

#cusSearch{
    outline: none;
    width: 400px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

.searchBtn:hover{
    cursor: pointer;
}

.fa-magnifying-glass{
    color: #AA8B66;
    font-size: 24px;
}

/* -------------------------customerPage----------------------------- */

.productTitle{
    background-color: #FAF0E4;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.productTitle h2{
    font-size: 28px;
    color: #aa8b66;
    line-height: 1.6;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

/* ----------- aside ----------- */

.mainSidebar{
    height: 520px;
    width: 90%;
    margin-right: 40px;
    text-align: left;
}

.menuTitle{
    outline: 1px solid #AA8B66;
    background-color: #FAF0E4;
    padding: 20px;
    color: #AA8B66;
    font-size: 20px;
}

.menuItem{
    outline: 1px solid #AA8B66;
    padding: 20px;
    color: #AA8B66;
    font-size: 18px;
} 

.menuItem:hover{
    background-color: #FAF0E4;
    font-weight: bold;
    cursor: pointer;
}

#weddingCategory{
    outline: 1px solid #AA8B66;
    padding: 20px;
    color: #AA8B66;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.subMenu{
    display: none;
    margin-top: 20px;
}

.subItem{
    padding: 15px 10px;
}

.subItem a{
    color: #AA8B66;
}
.subItem:hover{
    background-color: #FAF0E4;
    font-weight: bold;
    cursor: pointer;
}
/* ------------------ Select & Product -------------- */

.customerPage{
    flex-grow: 1;
    margin-bottom: 20px;
}

.rightSelect{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.rightSelect h4{
    color:#AA8B66;
    font-size: 18px;
    line-height: 1.6;
}

.orderBy{
    border-color: #AA8B66;;
    padding: 5px;
    color:#AA8B66;
}

.orderBy:hover{
    cursor: pointer;
}

/* -------------------------------- */

.wedCard{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.cardItem{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.cardItem a{
    text-align: center;
}

.cardItem:hover img{
    opacity: .7;
    z-index: -1;
    border-radius: 20px;
    outline: 2px solid #EECFBB;
}

/* ----------------  滑下來是按鈕 ---------------- */

.ItemIcon{
    position: absolute;
    width: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: none; 
}

.ItemList{
    display: flex;
}

.searchbg{
    outline: 1px solid #EECFBB;
    background-color: #fff;
    padding: 5px;
    margin-right: 20px;
}

.ion--search {
    display: inline-block;
    width: 25px;
    height: 25px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M456.69 421.39L362.6 327.3a173.81 173.81 0 0 0 34.84-104.58C397.44 126.38 319.06 48 222.72 48S48 126.38 48 222.72s78.38 174.72 174.72 174.72A173.81 173.81 0 0 0 327.3 362.6l94.09 94.09a25 25 0 0 0 35.3-35.3M97.92 222.72a124.8 124.8 0 1 1 124.8 124.8a124.95 124.95 0 0 1-124.8-124.8'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #EECFBB;
    cursor: pointer;
}

.cartbg{
    outline: 1px solid #EECFBB;
    background-color: #EECFBB;
    padding: 5px;
}

.ion--cart {
    display: inline-block;
    width: 25px;
    height: 25px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Ccircle cx='176' cy='416' r='32' fill='%23000'/%3E%3Ccircle cx='400' cy='416' r='32' fill='%23000'/%3E%3Cpath fill='%23000' d='M456.8 120.78a23.92 23.92 0 0 0-18.56-8.78H133.89l-6.13-34.78A16 16 0 0 0 112 64H48a16 16 0 0 0 0 32h50.58l45.66 258.78A16 16 0 0 0 160 368h256a16 16 0 0 0 0-32H173.42l-5.64-32h241.66A24.07 24.07 0 0 0 433 284.71l28.8-144a24 24 0 0 0-5-19.93'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #fff;
    cursor: pointer;
}

.cardItem:hover .ItemIcon{
    display: flex;
    z-index: 1;
}


/* -------------------------------- */
.weddingrProduct{
    padding: 0 10px;
}
.cardItem a{
    text-decoration: none;
    color:#AA8B66;
}

.cardItem img{
    display: inline-block;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    transition: opacity 0.5s ease;
}

.cardItem a p{
    color: #F3A07E;
}

.textIcon{
    display: flex;
}

.cardItem h3{
    margin-bottom: 10px;
    color: #AA8B66;
    font-size: 20px;
    text-align: center;
}

.cardItem p{
    font-size: 16px;
    text-align: center;
    color: #AA8B66;
}

/* ----------------nextpageBtn---------------- */

.pagination{
    /* outline: 1px solid black; */
    width: 10%;
    display: flex;
    /* margin-left: px; */
    margin: 0 auto;
}

.pageBtn{
    border: none;
    color: #AA8B66;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #FAF0E4;
    border-radius: 10px;
}

.pageBtn:hover{
    background-color: #B88571;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 992px){
    .searchLabel{
        font-size: 28px;
    }
    #cusSearch{
        width: 350px;
        font-size: 19px;
    }
    .wedCard{ 
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .wedCard{ 
        grid-template-columns: repeat(2, 1fr);
    }
    .mainSidebar{
        display: none;
    }
    .productTitle h2 {
        font-size: 24px;
    }
    .rightSelect h4{
        font-size: 16px;
    }
    .searchLabel{
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .pagination{
        width: 30%;
    }
}

@media screen and (max-width: 430px){
    .rightSelect{
        flex-direction: column;
        /* align-items: center; */
    }

}