@import url(reset.css);

body{
    display: flex;
    flex-direction: column;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-x: hidden;
}

.contactWrapper{
    outline: 1px solid #AA8B66;
    max-width: 1440px; 
    min-height: 600px;
    margin: 70px auto;
    padding: 5px 0;
    color: #AA8B66;
    display: flex;
    align-items: center; 
    justify-items: center; 
}
/* ---------- contactBlock ---------- */

.contactImg{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.contactImg img{
    width: 70%;
    height: auto;
}

.contactBlock{
    width: 50%;
}

.questionTitle{
    width: 50%;
    border-bottom: 1px solid #AA8B66;
    margin: 20px 0;
}

h2{
    text-align: left;
    color: #AA8B66;
    font-size: 28px;
    margin-bottom: 10px;
}

h2::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/flowericon.png);
    margin-right: 10px;
}

/* ---------- writeBlock ---------- */

/* radio樣式變更 */
input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px; 
    display: inline-block;
    vertical-align: middle;
}

input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; 
    height: 20px;
    background: #fff;
    border: 1px solid #AA8B66;
    box-sizing: border-box;
}

input[type="radio"]:checked + label::after {
    content: "✔";
    position: absolute;
    left: 4px;
    top: 1px;
    font-size: 16px;
    color: #AA8B66;
}

.chooseBtn{
    margin-right: 5px;
}

.writeList{
    font-size: 16px;
}

.writeItem{
    margin-bottom: 10px;
}

/* input框樣式變更 */
input[type="text"] {
    border: 1px solid #AA8B66; 
    /* border-bottom: 1px solid #AA8B66;  */
    outline: none; 
    padding: 5px 30px 5px 0; 
}

input[type="text"]:focus {
    border: 1px solid #EECFBB; 
}

.writeItem:nth-child(3){
    display: flex;
}

.writeItem:nth-child(4){
    display: flex;
}

.writeItem:nth-child(5) p{
    margin-bottom: 5px;
}

.writeItem:last-child{
    color: #F3A07E;
}

.writeItem textarea{
    border: 1px solid #AA8B66;
    color: #AA8B66;
}

.writeItem textarea:focus {
    border-color: #EECFBB;
    outline: none;
}

.submitBtn a{
    width: 40%;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #AA8B66;
    padding: 5px 10px;
}

.submitBtn a:hover{
    background-color: #EECFBB;
    color: #AA8B66;
}