@import url(reset.css);

body {
    display: flex;
    flex-direction: column;
    /* 圖片寬度不夠 */
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
main{
    max-width: 1440px;
    background-color: rgba(255, 255, 255, .5);
    margin: 0 auto;
}

/* -----------------------------main----------------------------- */
.questionWrapper{
    outline: 1px solid #AA8B66;
    width: 60%;
    min-height: 600px;
    margin: 60px auto;
    padding: 40px 30px;
    color: #AA8B66;
}

.questionTitle{
    margin-bottom: 60px;
    text-align: center;
    font-size: 28px;
    text-align: center;

}

.questionList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #AA8B66;
}

.question{
    display: flex;
    flex-grow: 1;
    font-size: 20px;
    margin-bottom: 5px;
}
.question .fa-q{
    margin-right: 10px;
}

.questionItem{
    flex-grow: 0;
    margin-left: auto;
}

/* -------------------- ansBlock -------------------- */

.ansBlock{
    background-color: #FAF0E4;
    margin-bottom: 20px;
}

.ans{
    padding: 10px 0 10px 5px;
    margin-bottom: 10px;
}

.ansItem{
    margin-left: 20px;
}

.ansItem h3{
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #f1d4b7;
    display: inline-block;
    color: #F3A07E;
    
}
.ansItem p{
    padding: 10px;
    font-size: 16px;
}

