@import url(reset.css);


/* -----------------------------main----------------------------- */

.wrapper{
    margin: 40px auto;
    padding: 20px auto;
    text-align: center;
    max-width: 1440px;
    width: 100%;
    height: calc( 100% - 140px);
}

.activitySection{
    width: 100%;
    margin-bottom: 40px;
}

.activitySection img{
    width: 80%;
}

/* ------------------- Search ------------------- */
.searchSection{
    margin-bottom: 60px;
}

.searchLabel{
    color: #AA8B66;
    font-size: 30px;
}

.searchLabel::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/flowericon.png);
    background-size: cover;
    margin-right: 10px;
}

#cusSearch{
    outline: none;
    width: 400px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

.searchBtn:hover{
    cursor:pointer;
}

.searchBtn .fa-magnifying-glass{
    color: #AA8B66;
    font-size: 20px;
}


/* ----------------------------- wedding Product  ----------------------------- */
.weddingProducts{
    margin-bottom: 60px;
}

.weddingCards{
    padding: 0 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.cardItem{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}

.cardItem a{
    display: block;
    text-decoration: none;
    color: #AA8B66;
    cursor: pointer;
}

.cardItem img{
    display: inline-block;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    transition: opacity 0.5s ease;
}

.cardItem h3{
    margin-bottom: 5px;
    color: #AA8B66;
    font-size: 20px;
}

.cardItem p{
    font-size: 16px;
    color: #AA8B66;
}

/* --------- put shoppingCart --------- */
.cartButtonText{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.5s;
    background-color: #FAF0E4;
    width: 100%;
    text-align: center;
    padding: 5px; 
    font-size: 10px;
}

.cartButtonText h4{
    font-size: 18px;
}

.cardItem:hover .cartButtonText{
    transform: translateY(450%); 
    z-index: 1;
    cursor: pointer;
}


.cardItem:hover img {
    opacity: 0.7;
    z-index: 0;
    border-radius: 20px;
    cursor: pointer;
}

/* -----------------------------openbless Product ----------------------------- */
.openingBlessingProducts{
    margin-bottom: 60px;
}

.openingBlessingCards{
    padding: 0 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* ----------------------------- dailylife Product ----------------------------- */

.dailyLifeList{
    padding: 0 150px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
}

.dailyItem{
    margin-bottom: 20px;
}

.dailyItem h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.dailyItem a{
    text-decoration: none;
    color: #AA8B66;
    font-size: 20px;
}

.dailyItem img{
    width: 90%;
    aspect-ratio: 16/9;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.dailyItem img:hover {
    transform: scale(1.1);
    border-radius: 20px;
    outline: 1px solid #EECFBB;
}

/* ------------------- allTitle ------------------- */

.productTitle{
    width: 900px;
    padding-right: 200px;
    border-bottom: 1px solid #AA8B66;
    margin: 40px auto;
}

h2{
    text-align: left;
    color: #AA8B66;
    font-size: 28px;
    margin-bottom: 10px;
}

h2::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/flowericon.png);
    margin-right: 10px;
}

/* ----------------------------- customer Service ----------------------------- */

.customService{
    /* padding: 0 150px; */
    /* overflow: hidden; */
    margin-bottom: 5px;
}

.pictureBackground{
    box-sizing: border-box;
    padding: 40px;
    max-width: 100%;
    background-image: url(../img/index-footer.jpg);
    opacity: 1;
    background-size: cover;
    background-position: center;
    z-index: -1;
    margin: 0 auto;
    
}

.consultationForm{
    box-sizing: border-box;
    background-color: rgba(250, 240, 228, .9);
    padding: 60px;
    width: 90%;
    margin: 0px auto;
    text-align: left;
    line-height: 1.1;
    border-radius: 10px;
}

.infoTitle{
    font-size: 30px; 
    margin-bottom: 20px;
    color: #AA8B66;
}

.informationContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.informationContent li{
    border-left: 2px solid #AA8B66;
    display: list-item;
    padding-left: 10px;
    margin-bottom: 20px;
    color: #AA8B66;

}
.informationContent li h3{
    font-size: 20px;
    padding: 15px;
}

.informationContent li p{
    font-size: 16px;
    line-height: 1.6;
    padding: 5px 15px;
}

.callout{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 30px;
    border: 1px solid #AA8B66;
    color: #AA8B66;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.callout:hover{
    transform: scale(1.1);
    background-color: #AA8B66;
    color: #fff;
}

/* -------------- reurnTop -------------- */

#btnScrollToTop {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #FAF0E4;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    display: none;
  }


#btnScrollToTop:hover {
    background-color: #f1d4b7;  
}

#btnScrollToTop:hover .fa-caret-up{
    background-color: #f1d4b7;
    color: #fff
}



/* ---------------------------- 網頁 ------------------------------- */

@media screen and (max-width: 1280px) {

/* ----------- wedding Product  --------------- */

    .weddingCards{
        padding: 0 100px;
        gap: 25px;
    }

/* ----------- openbless Product  --------------- */

    .openingBlessingCards{
        padding: 0 100px;
        gap: 25px;
    }

/* ------------- dailylife Product -------------- */

    .dailyLifeList{
        padding: 0 90px;
        margin-bottom: 15px;
    }
/* ----------- customer Service  --------------- */
    
    .consultationForm{
        padding: 20px;
    }

    .pictureBackground{
        padding: 40px;
    }
    
    .infoTitle{
        padding-top: 30px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .informationContent{
        padding: 15px;
    }
    .informationContent li{
        border-left: 2px solid #AA8B66;
        padding-left: 15px;
    }    
    .informationContent li h3{
        font-size: 20px;
        padding: 10px;
    }
    
    .informationContent li p{
        padding-left: 15px;
    }
}




/* ----------------------------- 平板 ------------------------------ */
@media screen and (max-width: 820px) {

/* ----------- wedding Product  --------------- */

    .weddingCards{
        padding: 0 150px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

/* ----------- openbless Product  --------------- */

    .openingBlessingCards{
        padding: 0 150px;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}

@media screen and (max-width: 768px) {}



/* ----------------------------- 手機 ------------------------------ */

@media screen and (max-width: 430px) {}

@media screen and (max-width: 390px) {}
