@import url(reset.css);

/* -----------------------------main----------------------------- */

.pickupWrapper{
    color: #B88571;
    max-width: 1440px;
    width: 100%;
    margin: 130px auto;
}

h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

input{
    padding: 10px 5px;
    margin-bottom: 15px;
    border: 1px solid #AA8B66;
}

/* -------------------取貨方式--------------- */

.pickupMethod{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #AA8B66;
    padding-bottom: 5px;
}

.pickupBtn{
    margin-bottom: 5px;
}
/* -------------------到貨日期--------------- */

.arrivalDate{
    width: 80%;
    margin: 20px auto 0 auto;
    border-bottom: 1px solid #AA8B66;
}

.arrivalNotes{
    display: flex;
    align-items: baseline;
}

.arrivalNotes h4{
    padding-left: 10px;
    color: #F3A07E;
}
/* -------------------行事曆--------------- */

.calendar{
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.calendarTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.monthYear{
    font-size: 18px;
    margin-bottom: 10px;
}

.arrow{
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.weekdays{
    display: flex;
    margin-bottom: 10px;
    padding: 0 10px;
}

.weekdays span{
    flex: 1;
    text-align: center;
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
}

.day{
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.day:hover{
    background-color: #FAF0E4;
}

.disabled, .past-day{
    color: #999;
}

.highlight{
    background-color: #add8e6;
    font-weight: bold;
}

/* -------------------購買人資料--------------- */

.customerInfo{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto 0 auto;
    border-bottom: 1px solid #AA8B66;
}

.addSelect{
    display: flex;
    position: relative;
    width: 200px; 
}

select{
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #AA8B66;
}

.addSelect-select::before {
    content: '請選擇縣市'; 
    position: absolute;
    top: 0;
    left: 0;
    color: #808080; 
    pointer-events: none; 
}

#countyRecipientSelect {
    width: 200px;
    padding: 5px; 
    border: 1px solid #AA8B66; 
    background-color: #fff; 
    color: #808080;
}

#districtRecipientSelect{
    width: 200px;
    padding: 5px; 
    border: 1px solid #AA8B66; 
    background-color: #fff; 
    color: #808080;
}

/* -------------------商品收件人--------------- */
.recipientInfo{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto 0 auto;
    border-bottom: 1px solid #AA8B66;
}

/* -------------------付款方式--------------- */
.paymentMethod{
    width: 80%;
    margin: 20px auto 0 auto;
    border-bottom: 3px solid #AA8B66;
}

/* -------------------發票資料--------------- */

.invoiceData{
    width: 80%;
    margin: 20px auto 0 auto;
}

.notes{
    border: 1px solid #B88571;
    background-color: #FAF0E4;
    padding: 10px 350px;
    margin-bottom: 20px;
}

.notes p{
    margin: 5px 0;
}

.invoiceBtn{
    margin-bottom: 10px;
}

/* -------------------送出--------------- */
.finalBtn{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 20px auto;
    font-size: 18px;
}

.finalBtn a{ 
    text-decoration: none;
    text-align: center;
    margin-left: 5px;
}

.backBtn{
    border: 1px solid #B88571;
    padding: 5px 20px;
    flex: 1;
    color: #B88571;
}

.backBtn:hover{
    background-color: #B88571;
    color: #fff;
}

#submitBtn{
    border: 1px solid #B88571;
    padding: 5px 20px;
    flex: 1;
    background-color: #FAF0E4;
    color: #B88571;
    font-weight: bold;
}

#submitBtn:hover{
    background-color: #B88571;
    color: #fff;
}



/* --------------------- RWD ------------------------ */


 @media screen and (max-width: 1280px){

    .pickupWrapper{
        min-width: 100%;
    }
    .notes{
        padding: 10px 190px;
    }
}
/* 平板 */
@media screen and (max-width: 1024px){
    .pickupWrapper{
        min-width: 100%;
    }
    h3{
        font-size: 18px;
    }
    .arrivalNotes h4{
        font-size: 14px;
    }
    .notes{
        padding: 10px 90px;
    }
}
/* 手機 */
@media screen and (max-width: 768px){
    .pickupMethod{
        width: 90%;
    }
    .arrivalNotes{
        flex-direction: column;
    }
    .arrivalNotes h4{
        padding-left: 0;
    }
    .arrivalDate{
        width: 90%;
    }
    .weekdays{
        padding: 0;
    }
    .days{
        gap: 6px;
    }
    .day{
        padding: 9px;
        font-size: 14px;
    }

    .customerInfo{
        width: 90%;
    }
    .recipientInfo{
        width: 90%;
    }
    .paymentMethod{
        width: 90%;
    }
    .invoiceData{
        width: 90%;
    }
    .notes{
        padding: 10px 10px;
        font-size: 15px;
    }
    .finalBtn{
        width: 90%;
        font-size: 15px;
    }
}

