@import url(reset.css);
/* -----------------------------main----------------------------- */

.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* ----------- blockInner ----------- */

.breadcrumbNav{
    /* outline: 1px solid black; */
    color: #AA8B66;
    width: 20%;
    margin-top: 20px;
    margin-left: 30px;
}

.breadcrumbLink{
    color: #AA8B66;
    text-decoration: underline;
}

.breadcrumbLink:hover{
    cursor: pointer;
}

/* ----------- start ----------- */
.block{
    padding: 0 30px;
    margin: 40px auto 60px auto;

    display: grid; 
    grid-template-columns: 1fr 4fr; 
    gap: 20px;
}

/* ----------- aside ----------- */

.mainSidebar{
    width: 100%;
    margin-right: 40px;
    
}
.sidebarMenu{
    text-align: left;
}

.menuTitle{
    outline: 1px solid #AA8B66;
    background-color: #FAF0E4;
    padding: 20px;
    color: #AA8B66;
    font-size: 20px;
}

.menuItem{
    outline: 1px solid #AA8B66;
    padding: 20px;
    color: #AA8B66;
    font-size: 18px;
} 

.menuItem:hover{
    background-color: #FAF0E4;
    font-weight: bold;
    cursor: pointer;
}

#weddingCategory{
    outline: 1px solid #AA8B66;
    padding: 20px;
    color: #AA8B66;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.subMenu{
    display: none;
    margin-top: 20px;
}

.subItem{
    padding: 15px 10px;
}

.subItem a{
    color: #AA8B66;
}
.subItem:hover{
    background-color: #FAF0E4;
    font-weight: bold;
    cursor: pointer;
}
/* -----------------------------ProductInfo----------------------------- */
.mainImageContainer{
    width: 100%;
    display: flex; 
    margin: 0 auto;
}

/* ----------- flowerAside ----------- */
.productThumbnails{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.thumbnailList{
    margin-right: 10px;
}
.thumbnailItem{
    margin-bottom: 5px;
}

.thumbnailItem img{
    width: 100px;
    aspect-ratio: 1/1;
}

.thumbnailItem:hover{
    cursor: pointer;
}
/* ----------- flowerCard ----------- */

.flowerCard img{
    width: 400px;
    aspect-ratio: 1/1;
    margin-right: 20px;
}

/* -----------------------------flowerInfo----------------------------- */

.flowerTitle{
    font-size: 32px;
    color: #AA8B66;
    margin-bottom: 20px;
}

.flowerPrice{
    font-size: 28px;
    color: #F6B99D;
    margin: 30px auto 15px auto;
}

.itemSpecs{
    font-size: 16px;
    color: #AA8B66;
    line-height: 1.5;
    margin-bottom: 20px;
}

.itemSpecs p{
    
    margin-bottom: 15px;
}

/* ----------- quantity & sub ----------- */
.quantityControl{
    margin-bottom: 20px;
    font-size: 16px;
}

.quantityBtn{
    width: auto;
    height: auto;
    background-color: #fff;
    border: none;
}

.quantityBtn .fa-solid {
    color: #AA8B66;
}

.quantityInput{
    border: none;
    width: 5%;
    height: auto;
    text-align: center;
    font-size: 16px;
    color: #AA8B66;
    margin: 0 5px;
}

.subTotal{
    margin-bottom: 40px;
    color: #AA8B66;
    margin-left: 20px;
}
/*----------- price -----------*/
.priceValue{
    margin-bottom: 40px;
    color: #AA8B66;
    font-size: 20px;
}
/*----------- shoppingCart & buy -----------*/
.cartActions{
    display: flex;
    margin-right: 80px;
    width: 100%;
}

.addToCartButton{
    border: 1px solid #AA8B66;
    width: 100%;
    display: block;
    background-color: #fff;
    color: #AA8B66;
    text-align: center;
    font-size: 16px;
    padding: 5px 20px;
    margin-right: 10px;
    text-decoration: none;
}

.addToCartButton .fa-solid{
    padding-right: 5px;
    color: #AA8B66;
}

/*----------- shoppingCart:hover-----------*/

.addToCartButton:hover{
    background-color: #AA8B66;
    color: #fff;
    font-weight: bold;
}

.addToCartButton:hover .fa-solid{
    background-color: #AA8B66;
    color: #fff;
}

.buyNowButton{
    width:100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #B88571;
    background-color: #FAF0E4;
    color: #AA8B66;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

.buyNowButton .fa-solid{
    padding-right: 10px;
    color: #AA8B66;
}
/*----------- buynow:hover-----------*/
.buyNowButton:hover{
    background-color: #AA8B66;
    color: #fff;
}

.buyNowButton:hover .fa-solid{
    background-color: #AA8B66;
    color: #fff;
}

/*----------- attentionItems -----------*/
.productNotes{
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    color: #AA8B66;
}

.bottomLine{
    border-bottom: 1px solid #AA8B66;
    margin-bottom: 20px;
}

.textOutline{
    width: 100px;
    border: 1px solid #AA8B66;
    border-bottom: 1px solid rgba(170, 139, 102, 0);
}

.textOutline h4{
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
}

.attentionInfo{
    margin-bottom: 80px;
}

.attentionInfo li{
    margin-bottom: 10px;
    font-size: 16px;
}

/*----------- similarProduct -----------*/

.similarProduct h4{
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.scrollImg{
    display: flex;
}

.scrollImg li{
    margin-right: 10px;
}

.scrollImg img{
    max-width: 100%; 
}

/*----------- circleBtn -----------*/

.circleBtn{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
}

.circleBtn li{
    width: 10px;
    height: 10px;
    background-color: #AA8B66;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}



/* -----------------------------recentlyView----------------------------- */

.recentlyView{
    position: fixed;
    right: 0;
    top: 154px;
    /* position: relative; */
}

.recentlyView button{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #FAF0E4;
    background-color: #FAF0E4;
    color: #AA8B66;
}

.recentlyView button:hover{
    background-color: #f1d4b7;
    color: #fff;
}

.historyList{
    display: none;
    position: absolute;
    top: 67px;
    right: 10px;
}

.historyList img{
    width: 100px;
}

.recentlyView:hover .historyList{
    display: block;
}


/* --------------------------- 斷點 ----------------------------- */

@media screen and (max-width: 1280px) {

    .wrapper{
        min-width: 100%;
    }
    
    .breadcrumbNav{
        width: 30%;
    }
    .block{
        margin: 20px auto 60px auto;
    }
    
    .flowerCard img{
        width: 300px;
        margin-right: 10px;
    }
    .thumbnailItem img{
        width: 80px;
    }
    .flowerTitle{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .flowerPrice{
        margin: 20px auto 15px auto;
    }
    .itemSpecs p{
        margin-bottom: 10px;
    }
    .quantityControl{
        margin-bottom: 10px;
    }
    .priceValue{
        margin-bottom: 10px;
    }
    .cartActions{
        margin-right: 30px;
    }
}

/* 平板 */

@media screen and (max-width: 1024px) {
    .wrapper{
        min-width: 100%;
    }
    .block{
        width: 90%;
        display: flex;
        gap: 0;
    }
    .breadcrumbNav{
        width: 40%;
    }
    .mainSidebar{
       display: none;
    }
    .cartActions{
        width: 110%;
    }
    .addToCartButton, .buyNowButton{
        padding: 5px 0px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper{
        min-width: 100%;
    }

    .mainImageContainer{
        flex-direction: column;
    }

    .breadcrumbNav{
        width: 60%;
        margin-left: 40px;
    }

    .flowerInfo{
        margin-top: 20px;
    }

    .cartActions{
        width: 90%;
    }

    .block{
        width: 80%;
        padding: 0;
        padding: 0 20px;
        margin: 10px auto;
    }

    .productThumbnails{
        flex-direction: column;
    }

    .flowerCard img{
        min-width: 90%;
        margin-bottom: 10px;
        order: 1;
    }

    .thumbnailList{
       display: flex;
       order: 2;
    }

    .thumbnailItem img{
        min-width: 60%;
        margin-left: 5px;
    }
    .cartActions{
        width: 80%;
    }

    .bottomLine{
        width: 95%;
    }

    .attentionInfo{
        width: 95%;
    }
}
