@import url(reset.css);
/* -----------------------------main----------------------------- */
.main{
    max-width: 1440px;
    width: 100vw;
    margin: 0 auto;
    margin-top: 110px;
    position: relative;
}
/* ----------- blockInner ----------- */

.breadcrumbNav{
    position: absolute;
    top: 100px;
    left: 390px;
    color: #AA8B66;
}

.breadcrumbLink{
    color: #AA8B66;
    text-decoration: underline;
}

.breadcrumbLink:hover{
    cursor: pointer;
}

/* ----------- start ----------- */
.wrapper{
    padding: 0 150px;
    margin: 120px auto;

    display: grid; 
    grid-template-columns: 1fr 4fr; 
    gap: 20px;
}

/* ----------- aside ----------- */

.mainSidebar{
    margin-right: 40px;
    
}
.sidebarMenu{
    text-align: left;
}

.menuTitle{
    outline: 1px solid #AA8B66;
    background-color: #FAF0E4;
    padding: 20px;
    color: #AA8B66;
    font-size: 20px;
}

.menuItem{
    outline: 1px solid #AA8B66;
    padding: 20px;
    color: #AA8B66;
    font-size: 18px;
} 

.menuItem:hover{
    background-color: #FAF0E4;
    font-weight: bold;
    cursor: pointer;
}

#weddingCategory{
    outline: 1px solid #AA8B66;
    padding: 20px;
    color: #AA8B66;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.subMenu{
    display: none;
    margin-top: 20px;
}

.subItem{
    padding: 15px 10px;
}

.subItem a{
    color: #AA8B66;
}
.subItem:hover{
    background-color: #FAF0E4;
    font-weight: bold;
    cursor: pointer;
}
/* -----------------------------ProductInfo----------------------------- */

.mainImageContainer{
    display: flex; 
}

/* ----------- flowerAside ----------- */
.productThumbnails{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.thumbnailList{
    margin-right: 10px;
}
.thumbnailItem{
    margin-bottom: 5px;
}

.thumbnailItem img{
    width: 100px;
    aspect-ratio: 1/1;
}

.thumbnailItem:hover{
    cursor: pointer;
}
/* ----------- flowerCard ----------- */

.flowerCard img{
    width: 400px;
    aspect-ratio: 1/1;
    margin-right: 20px;
}

/* -----------------------------flowerInfo----------------------------- */

.flowerTitle{
    font-size: 32px;
    color: #AA8B66;
    margin-bottom: 20px;
}

.flowerPrice{
    font-size: 28px;
    color: #F6B99D;
    margin: 30px auto 15px auto;
}

.itemSpecs{
    font-size: 16px;
    color: #AA8B66;
    line-height: 1.5;
    margin-bottom: 20px;
}

.itemSpecs p{
    
    margin-bottom: 15px;
}

/* ----------- quantity & sub ----------- */
.quantityControl{
    margin-bottom: 20px;
    font-size: 16px;
}

.quantityBtn{
    width: auto;
    height: auto;
    background-color: #fff;
    border: none;
}

.quantityBtn .fa-solid {
    color: #AA8B66;
}

.quantityInput{
    border: none;
    width: 5%;
    height: auto;
    text-align: center;
    font-size: 16px;
    color: #AA8B66;
    margin: 0 5px;
}

.subTotal{
    margin-bottom: 40px;
    color: #AA8B66;
    margin-left: 20px;
}
/*----------- shoppingCart & buy -----------*/
.cartActions{
    display: flex;
    margin-right: 80px;
    width: 100%;
}

.addToCartButton{
    border: 1px solid #AA8B66;
    width: 100%;
    display: block;
    background-color: #fff;
    color: #AA8B66;
    text-align: center;
    font-size: 16px;
    padding: 5px 20px;
    margin-right: 10px;
    text-decoration: none;
}

.addToCartButton .fa-solid{
    padding-right: 5px;
    color: #AA8B66;
}

/*----------- shoppingCart:hover-----------*/

.addToCartButton:hover{
    background-color: #AA8B66;
    color: #fff;
    font-weight: bold;
}

.addToCartButton:hover .fa-solid{
    background-color: #AA8B66;
    color: #fff;
}

.buyNowButton{
    width:100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #B88571;
    background-color: #FAF0E4;
    color: #AA8B66;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

.buyNowButton .fa-solid{
    padding-right: 10px;
    color: #AA8B66;
}
/*----------- buynow:hover-----------*/
.buyNowButton:hover{
    background-color: #AA8B66;
    color: #fff;
}

.buyNowButton:hover .fa-solid{
    background-color: #AA8B66;
    color: #fff;
}

/*----------- attentionItems -----------*/
.productNotes{
    margin-top: 40px;
    color: #AA8B66;
}

.bottomLine{
    border-bottom: 1px solid #AA8B66;
    margin-bottom: 20px;
}

.textOutline{
    width: 100px;
    border: 1px solid #AA8B66;
    border-bottom: 1px solid rgba(170, 139, 102, 0);
}

.textOutline h4{
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
}

.attentionInfo{
    margin-bottom: 80px;
}

.attentionInfo li{
    margin-bottom: 10px;
    font-size: 16px;
}

/*----------- similarProduct -----------*/

.similarProduct h4{
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.scrollImg{
    display: flex;
}

.scrollImg li{
    margin-right: 10px;
}

.scrollImg img{
    max-width: 100%; 
}

/*----------- circleBtn -----------*/

.circleBtn{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
}

.circleBtn li{
    width: 10px;
    height: 10px;
    background-color: #AA8B66;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}



/* -----------------------------recentlyView----------------------------- */

.recentlyView{
    position: fixed;
    right: 0;
    top: 154px;
    /* position: relative; */
}

.recentlyView button{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #FAF0E4;
    background-color: #FAF0E4;
    color: #AA8B66;
}

.recentlyView button:hover{
    background-color: #f1d4b7;
    color: #fff;
}

.historyList{
    display: none;
    position: absolute;
    top: 67px;
    right: 10px;
}

.historyList img{
    width: 100px;
}

.recentlyView:hover .historyList{
    display: block;
}

@media screen and (max-width: 1280px){
    .wrapper{
        padding: 0px 140px;
    }
    
    .breadcrumbNav{
        left: 350px;
    }

    .mainSidebar{
        margin-right: 20px;
    }
    .flowerCard img{
        margin-right: 10px;
    }
    .flowerTitle{
        font-size: 28px;
    }

    .flowerPrice{
        font-size: 26px;
    }
    .itemSpecs p{
        margin-bottom: 5px;
    }
    .addToCartButton{
        padding: 5px 10px;
        font-size: 14px;
    }

    .buyNowButton{
        font-size: 14px;
    }
}

@media screen and (max-width: 1144px){
    .wrapper{
        padding: 0px 60px;
    }
    .breadcrumbNav{
        left: 310px;
    }

    .flowerTitle{
        font-size: 24px;
    }
    .flowerPrice{
        font-size: 22px;
    }

    .flowerCard img{
        width: 370px;
    }
    .thumbnailItem img{
        width: 80px;
    }

    .itemSpecs{
        font-size: 15px;
    }
    .addToCartButton{
        width: 90%;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 992px){
    .wrapper{
        padding: 0px 40px;
    }
    .mainSidebar{
        margin-right: 10px;
        width: 90%;
    }
    .breadcrumbNav{
        left: 250px;
    }
    .flowerCard img{
        width: 280px;
        margin-right: 15px;
    }
    .thumbnailItem img{
        width: 70px;
    }
    .addToCartButton{
        width: 80%;
        padding: 5px 10px;
    }
    .menuTitle{
        padding: 15px;
        font-size: 18px;
    }
    .menuItem, #weddingCategory{
        padding: 15px;
        font-size: 16px;
    }
    
    .recentlyView button{
        font-size: 16px;
        padding: 10px 5px;
    }
}

@media screen and (max-width: 768px){
    .wrapper{
        display: flex;
        gap: 0px;
    }
    .mainSidebar{
        display: none;
    }
    .breadcrumbNav{
        left: 120px;
        font-size: 14px;
    }

    .flowerCard img{
        width: 250px;
    }
    .thumbnailItem img{
        width: 60px;
    }
    .flowerInfo{
        width: 100%; 
    }

    .flowerTitle, .flowerPrice, .itemSpecs p{
        width: 100%; 
        box-sizing: border-box; 
    }

    .flowerPrice{
        margin-top: 20px;
        font-size: 18px;
    }
    .itemSpecs{
        width: 100%; 
    }
    .itemSpecs p{
        font-size: 14px;
    }
    .addToCartButton{
        font-size: 16px;
    }
    
    .quantityControl{
        width: 100%; 
    }
}

@media screen and (max-width: 576px){
    .wrapper{
        padding: 0 50px;
    }
    .breadcrumbNav{
        left: 80px;
        font-size: 16px;
    }
    .mainImageContainer{
        flex-direction: column;
    }
    .productThumbnails{
        margin-top: 10px;
        margin-right: 0;
    }
    
    .flowerCard img{
        width: 300px;
        margin-bottom: 20px;
    }
    .thumbnailItem img{
        width: 90px;
    }
    
    .flowerTitle{
        font-size: 26px;
    }
    .flowerPrice{
        font-size: 22px;
    }
    .itemSpecs p{
        font-size: 16px;
    }

    .addToCartButton{
        font-size: 18px;
    }
    .buyNowButton{
        font-size: 18px;
    }
}

@media screen and (max-width: 430px) {
    .flowerCard img{
        width: 240px;
        margin-right: 0;
    }
    .thumbnailItem img{
        width: 70px;
    }
    .breadcrumbNav{
        left: 60px;
        font-size: 14px;
    }
    .attentionInfo li{
        margin-bottom: 5px;
        font-size: 14px;
    }
}