/* --------------- 共同header和footer --------------- */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* min-height: 100vh; */
    margin: 0;
}

header{
    width: 100%;
    background-color: #FAF0E4;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    z-index: 8000;
}

.topNav{
    display: flex;
}
/* ------------------- LOGO ------------------- */
header h1{
    margin-left: 20px;
    top: 0;
    line-height: 70px;
    background-image: url(../img/LOGO.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 126px;
    text-indent: -9999px;
}

/* ------------------- text nav ------------------- */

.textMenu{
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.navList{
    display: flex;
    letter-spacing: 3px;
    justify-content: center;
    font-size: 18px;
}

.navItem{
    width: 50%;
    display: block;
    color: #F3A07E;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.navItem a{
    display: block;
    color: #F3A07E;
    line-height: 70px;
    text-decoration: none;
    text-align: center;
}    

.navItem:hover{
    background-color: #f1d4b7;
    font-weight: bold;
    cursor: pointer;
}

/*----------------------- 花藝商品的子單 -----------------------*/
.productTypes{
    display: none;
    background-color: #FAF0E4;
    position: absolute;
    z-index: 2;
    width: 25%;
    font-weight: normal;
    font-size: 18px;
}

.productTypes li{
    font-weight: normal;
}

.productTypes li:hover{
    background-color: #f1d4b7;
    font-weight: bold;
    cursor: pointer;
}

.navItem:hover > .productTypes{
    display: block;
    cursor: pointer;
}
/*---------------- 遮罩 ----------------*/ 
.webOverlay{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9990; 
}
/* ---------------------------- slidebar ---------------------------- */
#cartslidbarBlock{
    background-color: #fff;
    position: fixed;
    top:0;
    right: -370px;
    width: 370px;
    height: 100vh;
    z-index: 9999;
    overflow-y: auto;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    transition: transform 0.5s;
}
/*---------------- 購物車清單 ----------------*/

.cartslidbarTitle{
    display: flex;
    padding: 20px;
    margin: 20px auto 20px auto;
    width: 80%;
    border-bottom: 1px solid #AA8B66;
}

.cartcloseBtn{
    padding: 10px;
    color: #AA8B66;
    font-size: 18px;
    cursor: pointer;
}

.cartslidbarTitle h4{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 5px 5px 5px 0;
    font-size: 24px;
    color: #AA8B66;
}

/*---------------- 購物車清單商品列 ----------------*/
.cartslidbarList{
    width: 100%;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
    /* height: calc(100% - 70px - 70px); */
}

.cartslidbarItem{
    padding: 20px;
}

.cartslidbarItem a{
    display: flex;
    text-decoration: none;
    color: #AA8B66;
}
.cartslidbarPrice{
    margin-right: 60px;
    font-size: 18px;
    align-items: center;
}

.cartslidbarPrice h3{
    margin-bottom: 5px;
}

.cartslidbarPrice h4{
    margin-bottom: 10px;
}

.cartslidbarPrice p{
    font-size: 16px;
}
.cartslidbarItem img{
    width: 20%;
    height: 20%;
    margin-right: 20px;
}

.gotoPayment{
    outline: 1px solid #AA8B66;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #AA8B66;
    color: #fff;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.fa-regular{
    font-size: 18px;
}
/* ------------------- icon nav ------------------- */

.iconMenu{
    display: flex;
    margin-right: 20px;
}

.iconMenu .fa-solid{
    color: #F3A07E;
    font-size: 18px;
}

.iconMenu ul{
    display: flex;
    /* margin-right: 10px; */
}

.iconMenu li{
    /* margin-left: 10px; */
    cursor: pointer;
    font-size: 18px;
}

.iconMenu li:hover{
    transform: scale(1.5);
}

.iconMenu li a{
    display: block;
    padding: 0 10px;
}

/* -------------- 手機 --------------- */
.phoneMenu{
    display: none;
}

.phoneblock{
    display: none;
}

/*----------------- 購物車上方的數量 --------------*/
.valnum{
    position: relative;
    right: 10px;
    top: 10px;
    outline: 1px solid #F3A07E;
    background-color: #fff;
    width: 5px;
    height: 5px;
    border-radius: 99em;
    text-align: center;
    padding: 5px;
    display: none;
}

.valnum span {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 8px;
    color: #F3A07E;
}




/* ---------- footer ------------- */

footer{
    display: flex;
    background-color: #EECFBB;
    width: 100%;
    height: 70px;
    justify-content: center;
}

.copyRight{
    margin: 0 auto;
    font-size: 18px;
    color: white;
    line-height: 70px;
    text-align: center;
    padding-left: calc(10px + 120px);
}
.copyRightPhone{
    display: none;
}
.copyRight p{
    font-size: 16px;
}
/* ---------------- icon ---------------- */
.socialLink{
    margin-right: 20px;
    line-height: 70px;
}

.socialLink a{
    padding: 10px;
}

.fa-brands{
    font-size: 18px;
    color: white;
}

/* --------------------------- 斷點 ----------------------------- */


/* -------------------  992px ------------------- */
@media screen and (max-width: 992px) {


    /* 導覽列關閉 */
    .textMenu{
        display: none;
    }
    .loginIcon{
        display: none; 
    }
    
    .iconMenu{
        width: 100%;
        margin-right: 15px;
    }
    .iconMenu ul{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    /* ------------------ 漢堡Bar ------------------ */
    .phoneMenu{
        display: block;
    }

    .phoneblock{
        position: fixed;
        top: 0 ;
        right: 0;
        z-index: 99;
        background-color: #fff;
        width: 100%;
        height: 100%;
        background-color: #e9e4d8;
        display: none;
    } 

    .menuCloseBlock{
        display: flex;
        
    }

    .menuCloseBtn{
        margin-left: 10px;
        margin-right: 10px;
    }

    .menuCloseBtn i{
        font-size: 25px;
        line-height: 25px;
    }
    .menuCloseBlock{
        font-size: 18px;
    }

    .phoneItem{
        text-align: left;
        font-size: 20px;
        color: black;
        padding-left: 20px;
        letter-spacing: 5px;
        border-bottom: 1px solid rgba(0,0,0,.5);

    }

    .phoneItem:last-child{
        margin-top: 80px;
        border-bottom: 2px solid black;
    }
/*  */
    .phoneMenu:hover + .phoneblock {
        display: block;
    }
    /*---------------- 遮罩 ----------------*/ 
    .phoneOverlay{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    }

  

    /* ------------------ footer ------------------ */
    .copyRight{
        padding-left: calc(5px + 120px);
    }

    .copyRight p{
        font-size: 14px;
    }

    .socialLink{
        font-size: 14px;
        margin-right: 10px;
    }

    .socialLink a{
        padding: 5px;
    }
}
/* -------------------  768px ------------------- */
@media screen and (max-width: 768px) {
    header{
        height: 60px;
        line-height: 60px;
    }
    header h1{
        line-height: 60px;
    }
   
    footer{
        height: auto;
        flex-direction: column;
    }
    .copyRight{
        line-height: 0px;
        padding-left: 0;
        margin-bottom: 5px;
    }
    .copyRight p{
        line-height: 30px;

    }
    .socialLink{
        line-height: 30px;
        margin: 0 auto;
    }
    
}

/* -------------------  576px ------------------- */
@media screen and (max-width: 576px) {
    .iconMenu{
        margin-right: 10px;
    }
    .topNav a{
        line-height: 60px;
    }
    header h1{
        line-height: 60px;
        background-position: center center;
        background-size: 100px;
        height: 60px;
        margin: 0 auto;
    }


    footer{
        flex-direction: row;
        align-items: center;
    }
    .copyRight{
        display: none;
    }

    .copyRightPhone{
        display: block;
        padding: 10px;
        color: #fff;
    }
    .copyRightPhone p{
        padding: 5px;
    }
}

@media screen and (max-width: 430px) {
    

    .copyRightPhone p{
        font-size: 11px;
    }
}