@import url(reset.css);
/* -----------------------------main----------------------------- */
.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 50px auto;
}

.spacer{
    margin-bottom: 100px;;
}
/* --------------- loginBox --------------- */
.loginBox{
    width: 30%;
    height: auto;
    margin: 170px auto 0 auto;
    text-align: center;
    background-color: #FAF0E4;
    padding: 20px 40px;
}

.loginPrompt{
    display: block;
    text-decoration: none;
    font-size: 20px;
}

.loginPrompt p{
    display: inline-block;
    color: #AA8B66;
}

.loginPrompt p:nth-child(2){
   color: #F3A07E;
   font-weight: bold;
   text-decoration: underline;
}

.loginBoxPhone{
    display: none;
}
/* --------------- cartWrapper --------------- */
.cartBlock{
    box-sizing: border-box;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #FAF0E4;
    color: #AA8B66;
    font-size: 20px;
}

.cartItemHeaders{
    background-color: #FAF0E4;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.cartItemHeaders li:nth-child(1){
    margin-left: 40px;
}

.cartItemHeaders li:nth-child(2){
    margin-left: 250px;
}

.cartItemHeaders li:nth-child(3){
    margin-left: 170px;
}

.cartItemHeaders li:nth-child(4){
    margin-left: 150px;
}
.cartItemHeaders li:nth-child(5){
    margin-left: auto;
}

/* --------------- productList --------------- */
.productPhone{
    display: none;
}
.productListWeb{
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
}

.productListWeb li{
    flex: 1;
    text-align: center; 
}

.productListWeb li:nth-child(1){
    flex: 2;
    display: flex;
}

.productListWeb li:nth-child(3){
    display: flex;
    justify-content: center;

}

.productLink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #AA8B66;
}

.productLink img{
    max-width: 30%;
    padding-right: 10px;
}

/* ----------- quantity & sub ----------- */

.quantitySub{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.quantity{
    outline: 1px silid #AA8B66;
}

.quantityBtn{
    width: auto;
    height: auto;
    background-color: #fff;
    border: 1px solid #AA8B66;
    padding: 5px;
}

.quantityInput{
    border: 1px solid #AA8B66;
    border-left: none;
    border-right: none;
    width: 10%;
    text-align: center;
    color: #AA8B66;
    font-size: 16px;
}

.quantityBtn .fa-solid {
    font-size: 16px;
    color: #AA8B66;
}

.productListWeb .fa-trash-can{
    color: #AA8B66;
    font-size: 24px;
}
/* --------------------------------------- */
.tip{
    display: flex;
    justify-content: flex-end;
}

.tip p{
    padding: 5px;
}

.tip p:nth-child(2){
    color: #F3A07E;
    font-weight: bold;
}

/* --------------- priceItem --------------- */
.priceList{
    background-color: #FAF0E4;
    width: 20%;
    margin: 60px auto;
    padding: 40px;
    color: #AA8B66;
    font-size: 18px;
}

.priceDetail{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.priceDetail:last-child{
    font-weight: bold;
}

.total{
    color: #F3A07E;
    font-size: 24px;
}
.separator{
    width: 100%;
    height: 1px;
    position: relative;
    margin-bottom: 20px;
}
.separator::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid #AA8B66;
}

/* --------------- cartButton --------------- */
.cartBtn{
    /* outline: 1px solid black; */
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cartBtn a{
   width: 100%;
   padding: 10px;
   margin: 0 10px 40px 2px;
   font-size: 18px;
   text-decoration: none;
   text-align: center;
}

.continueShop{
    border: 1px solid #B88571;
    background-color: #fff;
    color: #B88571;
}

.continueShop:hover{
    background-color: #B88571;
    color: white;
}

.toBuy{
    border: 1px solid #B88571;
    background-color: #FAF0E4;
    color: #B88571;
    font-weight: bold;
}

.toBuy:hover{
    background-color: #B88571;
    color: white;
    opacity: 1;
}

/* --------------- recentlyView --------------- */

.recentlyView{
    position: fixed;
    right: 0;
    top: 154px;
}

.recentlyView button{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #FAF0E4;
    background-color: #FAF0E4;
    color: #AA8B66;
}

.recentlyView button:hover{
    background-color: #f1d4b7;
    color: #fff;
}

.historyList{
    display: none;
    position: absolute;
    top: 67px;
    right: 10px;
}

.historyList img{
    width: 100px;
}

.recentlyView:hover .historyList{
    display: block;
}

/* --------------------------- 斷點 ----------------------------- */
@media screen and (max-width: 1280px){
    .wrapper{
        min-width: 100%;
    }
    .loginBox{
        width: 40%;
    }
    .cartBlock{
        width: 90%;
    }
    .productListWeb{
        padding: 5px 10px;
    }
   
}
@media screen and (max-width: 1140px){
    .wrapper{
        min-width: 100%;
        margin-bottom: 170px;
    }

    .cartItemHeaders li:nth-child(1){
        margin-left: 20px;
    }
    
    .cartItemHeaders li:nth-child(2){
        margin-left: 200px;
    }
    
    .cartItemHeaders li:nth-child(3){
        margin-left: 160px;
    }
    .priceList{
        width: 30%;
    }
    .cartBtn{
        width: 40%;
    }
}

@media screen and (max-width: 1024px){
    .wrapper{
        min-width: 100%;
        
    }

    .cartItemHeaders li:nth-child(1){
        margin-left: 10px;
    }
    
    .cartItemHeaders li:nth-child(2){
        margin-left: 200px;
    }
    
    .cartItemHeaders li:nth-child(3){
        margin-left: 120px;
    }
    .cartItemHeaders li:nth-child(4){
        margin-left: 120px;
    }
}

@media screen and (max-width: 992px){
    .wrapper{
        min-width: 100%;
    }
    .loginPrompt{
        font-size: 18px;
    }
    .cartBlock{
        width: 70%;
    }
    .cartItemHeaders, .productListWeb{
        display: none;
    }

    .productPhone{
        display: block;
    }
    
    .productListPhone{
        background-color: #fff;
        display: flex;
    }

    .productItemPhone{
        display: flex;
        align-items: center;
    }

    .productLinkPhone{
        width: 40%;
    }
    .quantityBtn, .quantityInput{
        border: none;
    }
    
    .productLinkPhone img{
        width: 60%;
        padding: 40px;
    }
   
    .productTitle > * {
        margin-bottom: 10px;
    }

    .removeProduct{
        margin-top: 40px;
        padding-right: 10px;
    }
    .removeProduct .fa-trash-can{
        color: #AA8B66;
    }
    .tip{
        margin-top: 10px;
    }
    .cartBtn a{
        font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    .cartBlock{
        width: 90%;
    }
    .productLinkPhone img{
        width: 80%;
        padding: 10px;
    }
    .removeProduct{
        margin-top: 10px;
    }
    .priceList{
        width: 50%;
    }
    .cartBtn{
        width: 80%;
    }
}


@media screen and (max-width: 430px){

    .wrapper{
        min-width: 100%;
    }
    .loginBox{
        display: none;
    }
    .loginBoxPhone{
        /* outline: 1px solid black; */
        width: 80%;
        margin: 160px auto 0 auto;
        display: flex;
        justify-content: center;
    }

    .loginBoxPhone p{
        color: #AA8B66;
        padding: 5px;
    }

    .loginBoxPhone a{
        text-decoration: none;
        background-color: #F3A07E;
        color: #fff;
        padding: 5px;
        cursor: pointer;
    }

    .cartBlock{
        margin-top: 10px;
        width: 90%;
    }

    .productItemPhone{
        flex-direction: column;
        justify-content: flex-start;
    }
    .productLinkPhone{
        width: 100%;
        margin-bottom: 10px;
    }
    .productLinkPhone img{
        width: 100%;
        padding: 0;
    }
  
    .removeProduct{
        margin-top: 0;
        padding: 0 10px;
    }

    .tip{
        font-size: 17px;
    }

    .priceList{
        width: 60%;
    }
    .cartBtn{
        width: 90%;
    }
}