@import url(reset.css);

body{
    display: flex;
    flex-direction: column;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* -----------------------------main----------------------------- */
.signWrapper{
    outline: 1px solid #B88571;
    max-width: 1440px;
    width: 40%;
    margin: 100px auto;
    padding: 40px 30px;
    background-color: rgba(255, 255, 255, .7);
}

.signTitle{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #B88571;
    margin-bottom: 80px;
}

.signForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.signForm label{
    margin-right: 5px;
    color: #B88571;
    font-size: 24px;
}

.signList{
    color: #B88571;
}

.signItem{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.signItem input{
    border: none;
    border-bottom: 1px solid #B88571;
    width: 300px;
    font-size: 24px;
}

.signItem:nth-child(9){
    margin-bottom: 40px;
}

/* -------------------  ----------------------- */
.separator{
    /* outline: 1px solid black; */
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.separator::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: 10px;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid #B88571;
}

/* ------------------- registerBtn ----------------------- */
.submitBtn{
    width: 100%;
}

.submitBtn a{
    display: block;
    max-width: 100%;
    text-decoration: none;
    text-align: center;
    background-color: #B88571;
    color: #fff;
    border: 1px solid #B88571;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.submitBtn a:hover{
    background-color:#d5a58d;
    font-weight: bold;
}

/* 斷點 */

@media screen and (max-width: 1024px){
    .signWrapper{
        min-width: 60%;
    }
    
    .background{
        width: 70%;
    }
    .signForm{
        padding: 10px;
    }
    .signItem input{
        width: 220px;
    }

    .signForm label{
        font-size: 18px;
    }
}

@media screen and (max-width: 768px){
    .signWrapper{
        min-width: 80%;
    }
    
    .signItem input{
        width: 160px;
    }
}