@import url(reset.css);


body{
    background-image: url(../img/background.jpg);
    background-size: cover;
}

/* -----------------------------main----------------------------- */
main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.signSuccess {
    background-color: #FAF0E4; 
    color: #AA8B66; 
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: center; 
    width: 20%;
    margin: 23% auto; 
}

.signSuccess h1{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

.signSuccess p{
    font-size: 20px;
    margin-bottom: 40px;
}
#returnIndex {
    background-color: #AA8B66; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}

#returnIndex:hover {
    background-color: #f1d4b7;
    color: #AA8B66;
    font-weight: bold;
}