.swiper{
    width: 100%;
    position: relative;
    overflow: hidden;

}
.swiper-slide img{
    width: 100%;
    aspect-ratio: 21 / 9;
    opacity: 0.8;
}
/*------- 第一張banner的標題 -------*/

.storeTitle{
    position: absolute;
    top: 200px;
    left: 70px;
    font-weight: bold;
    font-size: 34px;
    color: #fcf5f0;
    padding: 10px; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.storeTitle1{
    position: absolute;
    top: 280px;
    left: 70px;
    font-weight: bold;
    font-size: 34px;
    color: #fcf5f0;
    padding: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.storeTitle2{
    position: absolute;
    top: 360px;
    left: 70px;
    font-weight: bold;
    font-size: 34px;
    color: #fcf5f0;
    padding: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*------- 第二張banner的標題 -------*/

.ValentineTitle{
    position: absolute;
    top: 220px;
    left: 100px;
    font-weight: bold;
    font-size: 46px;
    color: #EECFBB;
    padding: 10px; 
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ValentineTitle1{
    position: absolute;
    top: 300px;
    left: 100px;
    font-weight: bold;
    font-size: 46px;
    color: #EECFBB;
    padding: 10px; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*------- 第三張banner的標題 -------*/
.motherdayTitle{
    position: absolute;
    top: 200px;
    left: 100px;
    font-weight: bold;
    font-size: 40px;
    color: #CCAEA4;
    padding: 10px; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.motherdayTitle1{
    position: absolute;
    top: 280px;
    left: 100px;
    font-weight: bold;
    font-size: 40px;
    color: #CCAEA4;
    padding: 10px; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.swiper-slide a{
    position: absolute;
    top: 410px;
    left: 110px;
    width: 80px;
    padding: 10px;
    text-align: center;
    background-color: #FAF0E4;
    text-decoration: none;
    color: #AA8B66;
}

.swiper-button-prev, .swiper-button-next{
    color: #AA8B66;
    padding: 20px
}

.swiper-button-prev:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255,255,255,.2);
}

.swiper-button-next:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255,255,255,.2);
}

.swiper-pagination-bullet {
    background: #FAF0E4;
    border: 1px solid #fecce3;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #AA8B66; 
}

/* ------------------------------ RWD ------------------------------ */
/* -------------------  1144px ------------------- */
@media screen and (max-width: 1144px) {
    .storeTitle{
        top: 170px;
        font-size: 30px;
    }

    .storeTitle1{
        top: 230px;
        font-size: 30px;
    }

    .storeTitle2{
        top: 290px;
        font-size: 30px;
    }

    .ValentineTitle{
        top: 180px;
        font-size: 40px;
    }
    .ValentineTitle1{
        top: 260px;
        font-size: 40px;
    }

    .motherdayTitle{
        top: 160px;
        font-size: 32px;
    }

    .motherdayTitle1{
        top: 230px;
        font-size: 32px;
    }

    .swiper-slide a{
        top: 350px;
    }
}

@media screen and (max-width: 992px) {
.storeTitle{
    top: 140px;
    font-size: 28px;
}

.storeTitle1{
    top: 200px;
    font-size: 28px;
}
.storeTitle2{
    top: 260px;
    font-size: 28px;
}
.ValentineTitle{
    top: 160px;
    font-size: 30px;
}
.ValentineTitle1{
    top: 220px;
    font-size: 30px;
}
.motherdayTitle{
    top: 140px;
    font-size: 28px;
}

.motherdayTitle1{
    top: 200px;
    font-size: 28px;
}

.swiper-slide a{
    top: 290px;
}

}


@media screen and (max-width: 768px) {

.storeTitle{
    top: 120px;
    font-size: 20px;
}
.storeTitle1{
    top: 160px;
    font-size: 20px;
}
.storeTitle2{
    top: 200px;
    font-size: 20px;
}

.ValentineTitle{
    top: 120px;
    left: 60px;
    font-size: 24px;
}
.ValentineTitle1{
    top: 170px;
    left: 60px;
    font-size: 24px;
}

.motherdayTitle{
    top: 110px;
    left: 60px;
}
.motherdayTitle1{
    top: 160px;
    left: 60px;
}
.swiper-slide a{
    top: 230px;
    left: 70px;
}
}

@media screen and (max-width: 576px) {
    .storeTitle{
        top: 90px;
        font-size: 14px;
    }

    .storeTitle1{
        top: 120px;
        font-size: 14px;
    }
    .storeTitle2{
        top: 150px;
        font-size: 14px;
    }

    .ValentineTitle{
        top: 90px;
        font-size: 18px;
    }
    .ValentineTitle1{
        top: 130px;
        font-size: 18px;
    }
    .motherdayTitle{
        top: 80px;
        font-size: 18px;
    }
    .motherdayTitle1{
        top: 120px;
        font-size: 18px;
    }

    .swiper-slide a{
        top: 180px;
        font-size: 14px;
        padding: 5px;
    }
}