.swiper{
    /* outline: 1px sold black; */
    width: 100vw;
    aspect-ratio: 16/9;
    position: relative;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.8;
    object-fit: cover;
}
/*------- 第一張banner的標題 -------*/

.storeTitle{
    position: absolute;
    top: 320px;
    left: 50px;
    font-weight: bold;
    font-size: 32px;
    color: #fcf5f0;
    padding: 10px; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.storeTitle1{
    position: absolute;
    top: 400px;
    left: 50px;
    font-weight: bold;
    font-size: 32px;
    color: #fcf5f0;
    padding: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.storeTitle2{
    position: absolute;
    top: 480px;
    left: 50px;
    font-weight: bold;
    font-size: 32px;
    color: #fcf5f0;
    padding: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*------- 第二張banner的標題 -------*/

.ValentineTitle{
    position: absolute;
    top: 320px;
    left: 100px;
    font-weight: bold;
    font-size: 50px;
    color: #EECFBB;
    padding: 10px; 
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ValentineTitle1{
    position: absolute;
    top: 400px;
    left: 100px;
    font-weight: bold;
    font-size: 50px;
    color: #EECFBB;
    padding: 10px; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*------- 第三張banner的標題 -------*/
.motherdayTitle{
    position: absolute;
    top: 320px;
    left: 80px;
    font-weight: bold;
    font-size: 40px;
    color: #CCAEA4;
    padding: 10px; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.motherdayTitle1{
    position: absolute;
    top: 400px;
    left: 80px;
    font-weight: bold;
    font-size: 40px;
    color: #CCAEA4;
    padding: 10px; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.swiper-slide a{
    position: absolute;
    top: 520px;
    left: 100px;
    width: 80px;
    padding: 10px;
    text-align: center;
    background-color: #FAF0E4;
    text-decoration: none;
    color: #AA8B66;
}

.swiper-button-prev, .swiper-button-next{
    color: #AA8B66;
    padding: 20px
}

.swiper-button-prev:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255,255,255,.2);
}

.swiper-button-next:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255,255,255,.2);
}

.swiper-pagination-bullet {
    background: #FAF0E4;
    border: 1px solid #fecce3;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #AA8B66; 
}


/* ---------------width: 1280px------------------ */

@media screen and (max-width: 1280px) {
    /*------- 第一張banner的標題 -------*/

    .storeTitle{
        top: 220px;
    }

    .storeTitle1{
        top: 300px;
    }

    .storeTitle2{
        top: 380px;
    }

    /*------- 第二張banner的標題 -------*/

    .ValentineTitle{
        top: 230px;
        left: 80px;
        font-size: 48px;
    }

    .ValentineTitle1{
        top: 320px;
        left: 80px;
        font-size: 48px;
    }

    /*------- 第三張banner的標題 -------*/

    .motherdayTitle{
        top: 250px;
        font-size: 38px;
    }

    .motherdayTitle1{
        top: 340px;
        font-size: 38px;
    }

 /*------- 第二、三張banner的連結 -------*/
    .swiper-slide a{
        top: 440px;
        left: 90px;
    }
}